/* CSS */ 

body {
    background-color: whitesmoke;
  }
  h1 {
    color: black;
  }
  p {
    color: red;
  }

  .header {
    overflow:hidden;
    padding-left: 1%;
    text-align: left;
    background: pink;
    color: pink;
    font-size: 15px;
  }