/* CSS */ 



body,html {
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 170%;
    font-family: "Copperplate", "Helvetica", cursive;
    
  }

  .header {
    overflow:hidden;
    padding-left: 1%; 
    top:0;
    right:0;
    left:0;
    position: absolute;
    background: pink;
    text-size-adjust: 80;
    height: 14%;
    
  }

  /* Builder div */
  .builder {
    height: 60%;
    width: 58%;
    position: absolute;
    z-index: 1;
    top: 16%;
    overflow-x: hidden;
    padding: 1%;
    background: pink;
    left:0;
    
  }

  /* Bank div */
  .bank {
    height: 13%;
    width: 38%;
    position: absolute;
    right: 0;
    top: 16%;
    overflow: hidden;
    padding-left: 1%;
    background: pink;
    z-index: 1;
  }

  /* Info div */
  .info {
    height: 45%;
    width: 37%;
    position: absolute;
    right: 0;
    top: 31%;
    overflow: hidden;
    padding: 1%;
    background: pink;
    z-index: 1;
  }

  /* Reactions div */
  .reactions {
    height: 50%;
    width: 20%;
    position: absolute;
   
    left: 0;
    z-index: 2;
    top:82%;
    overflow: hidden;
    padding: 1%;
    background: pink;
  }

  /* Reactions div 2 */
  .reactions2 {
    height: 50%;
    width: 75%;
    position: absolute;


    left: 23%;
    top: 82%;
    overflow-x: hidden;
    padding: 1%;
    background: pink;
  }

  /* Help div */
  .help {
    height: 40%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 138%;
    left: 0;
    right:0;
    padding: 1%;
    font-family: sans-serif;
    background:pink;
  }

  /* .FAQ {
    height: 90%;
    width:48%;
    right:0;
    padding: 1%;
    top:138%;
    background:pink;
   } */