/* CSS */ 

body {
    background-color: whitesmoke;
  }

  .header {
    overflow:hidden;
    padding-left: 1%;
    text-align: left;
    background: pink;
    color: pink;
    font-size: 15px;
  }

  /* Builder div */
  .builder {
    height: 45%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 15%;
    overflow-x: hidden;
    padding: 1%;
    background: pink;
  }

  /* Bank div */
  .bank {
    height: 13%;
    width: 45%;
    position: absolute;
    right: 0;
    top: 15%;
    overflow: hidden;
    padding-left: 1%;
    background: pink;
    z-index: 1;
  }

  /* Info div */
  .info {
    height: 30%;
    width: 44%;
    position: absolute;
    right: 0;
    top: 30%;
    overflow: hidden;
    padding: 1%;
    background: pink;
    z-index: 1;
  }

  /* Reactions div */
  .reactions {
    height: 25%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 68%;
    overflow-x: hidden;
    padding: 1%;
    background: pink;
  }